---
import Layout from "@/layouts/Layout.astro"
import { cn } from "@/lib/utils"
import PhotoBorder from "@/components/PhotoBorder.astro"
import { getCollection } from "astro:content"
import Button from "@/components/Button.astro"
import Link from "@/components/Link.astro"

const lectures = await getCollection("lectures")
---

<Layout title="הרצאות" description="הרצאות">
  <div class="bg-primary-bg py-20">
    <h1 class="text-5xl font-bold font-varela text-center">הרצאות</h1>
  </div>
  {
    lectures.map(({ data: lecture }, i) => {
      const isEven = i % 2 === 0
      const url = `/lectures/${lecture.key}`
      return (
        <div class={cn("py-4 px-8 ", !isEven && "bg-primary-bg")}>
          <div class="flex gap-10 flex-col sm:flex-row max-w-6xl mx-auto">
            <a class="flex-shrink-0" href={url}>
              <PhotoBorder src={lecture.thumbnail} class="w-[310px] min-h-[175px]" borderSize="sm" />
            </a>
            <div class="flex-1">
              <h2 class="text-4xl font-bold">
                <Link href={url}>{lecture.title}</Link>
              </h2>
              <div class="text-base [&_p]:text-base">
                <div set:html={lecture.description.short} />
              </div>
              <Button size="md" href={lecture.purchase_url}>
                לרכישה
              </Button>
            </div>
          </div>
        </div>
      )
    })
  }
</Layout>
