---
import Button from "@/components/Button.astro"
import Input from "@/components/Input.astro"
import PageHeader from "@/components/PageHeader.astro"
import PawList from "@/components/PawList.astro"
import Layout from "@/layouts/Layout.astro"
import MaxWidth from "@/layouts/MaxWidth.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
  const lectures = await getCollection("lectures")
  return lectures.map((lecture) => {
    return {
      params: { slug: lecture.data.key },
      props: { lecture },
    }
  })
}

const { lecture } = Astro.props
const { Content } = await lecture.render()
console.debug("Lecture", lecture)
---

<Layout title={lecture.data.title}>
  <PageHeader
    title={lecture.data.title}
    paragraphs={[]}
    image={lecture.data.thumbnail}
    imageProps={{ class: "w-[312px]" }}
  >
    <Button class="mt-8" size="lg" slot="cta">מילוי פרטים ורכישה</Button>
  </PageHeader>

  <div class="bg-bg-altpy-8 [&_p]:!text-base">
    <MaxWidth>
      <div id="lecture-description" class="p-12" data-lecture={JSON.stringify(lecture.data)}>
        <Content />
        {
          (lecture.data.toc?.length ?? 0) > 0 && (
            <div class="mt-4">
              <h3 class="font-bold">{lecture.data.toc_title ?? "מה בתוכנית?"}</h3>
              <PawList>
                {lecture.data.toc!.map((item) => (
                  <li>
                    <b class="font-bold text-underline">{item.title}</b> - {item.description}
                  </li>
                ))}
              </PawList>
            </div>
          )
        }
      </div>
      <div id="video-slot" class="py-12"></div>
    </MaxWidth>
  </div>

  <form id="lecture-signin">
    <Input type="text" name="username" autocomplete="username" placeholder="שם משתמש" />
    <Input type="password" name="password" autocomplete="current-password" placeholder="סיסמה" />
    <button type="submit">OK</button>
  </form>

  <div class="bg-primary-bg p-12 text-center">
    <MaxWidth>
      <Button size="lg">מילוי פרטים ורכישה</Button>
    </MaxWidth>
  </div>
  <template id="single-video-template">
    <div id="video-container">
      <video id="video" class="video-js vjs-big-play-centered"></video>
    </div>
  </template>
  <template id="chapters-video-template">
    <div class="flex gap-4">
      <ul
        id="chapters-container"
        class="w-56 border-t border-t-neutral-300"
        data-li-class={`
          transition-all font-amatic border text-foreground border-transparent border-b-neutral-300
          text-[28px] hover:border-b-primary hover:text-primary
        `}
        data-li-active-class="text-primary border-b-primary border-b-2 font-bold"
      >
      </ul>
      <div id="video-container" class="flex-1">
        <video id="video" class="video-js vjs-big-play-centered"></video>
      </div>
    </div>
  </template>
</Layout>

<script>
  import type { LectureSchema } from "@/content/config"
  import { API_BASE } from "@/lib/consts"
  import { cn } from "@/lib/utils"
  import videojs from "video.js"
  import type Player from "video.js/dist/types/player"
  import "video.js/dist/video-js.css"
  import type { ZodError } from "zod"

  const form = document.querySelector("#lecture-signin") as HTMLFormElement
  const slot = document.querySelector("#video-slot")!
  const description = document.querySelector("#lecture-description") as HTMLElement
  const singleTemplate = document.querySelector("#single-video-template") as HTMLTemplateElement
  const chaptersTemplate = document.querySelector("#chapters-video-template") as HTMLTemplateElement
  const lecture = JSON.parse(description.dataset.lecture!) as LectureSchema

  console.debug("Lecture", lecture)

  document.addEventListener("DOMContentLoaded", () => {
    form.addEventListener("submit", submit)
  })

  async function submit(e: Event) {
    console.debug("Submit")
    e.preventDefault()
    const inputs = form.elements
    const username = (inputs.namedItem("username") as HTMLInputElement).value
    const password = (inputs.namedItem("password") as HTMLInputElement).value

    const response = await fetch(
      `${API_BASE}/get_video_urls?${new URLSearchParams({
        username,
        key: password,
        video_key: lecture.key,
      }).toString()}${import.meta.env.DEV ? "&refresh=1" : ""}`,
    )
    const json = await response.json()
    if (json.error) {
      throw new Error((json.error as ZodError["issues"]).map((issue) => issue.message).join(", ") || "שגיאה לא ידועה")
    }
    // success
    if (json.urls.length > 1) {
      renderChaptersVideo(json.urls)
    } else {
      renderSingleVideo(json.urls[0])
    }
    return false
  }

  function renderSingleVideo(url: string) {
    const videoInfo = lecture.videos[0]
    const template = singleTemplate.content.cloneNode(true) as HTMLElement
    const video = template.querySelector("#video") as HTMLVideoElement
    inject(template)
    const player = videojs(video, {
      controls: true,
      responsive: true,
      fluid: true,
    })
    setVideo(player, url, videoInfo.poster)
  }

  function renderChaptersVideo(urls: string[]) {
    const template = chaptersTemplate.content.cloneNode(true) as HTMLElement
    const container = template.querySelector("#chapters-container") as HTMLUListElement
    const video = template.querySelector("#video") as HTMLVideoElement
    video.addEventListener("contextmenu", (e) => e.preventDefault())
    inject(template)
    urls.forEach((url, i) => {
      const videoInfo = lecture.videos[i]
      const li = document.createElement("li")
      setChapterLiState(container, li, i === 0)
      const button = document.createElement("button")
      button.textContent = videoInfo.title
      button.setAttribute("class", "block py-1.5 px-4")
      button.addEventListener("click", () => {
        const activeLi = container.querySelector(`[data-selected]`) as HTMLLIElement
        setChapterLiState(container, activeLi, false)
        setChapterLiState(container, li, true)
        const player = videojs.getPlayer(video)
        setVideo(player, url, videoInfo.poster)
      })
      li.appendChild(button)
      container.appendChild(li)
    })
    const videoInfo = lecture.videos[0]
    const player = videojs(video, {
      controls: true,
      responsive: true,
      fluid: true,
    })
    setVideo(player, urls[0], videoInfo.poster)
  }

  function setChapterLiState(container: HTMLElement, li: HTMLElement, state: boolean) {
    li.setAttribute("class", cn(container.dataset.liClass!, state && container.dataset.liActiveClass!))
    if (state) {
      li.setAttribute("data-selected", "")
    } else {
      li.removeAttribute("data-selected")
    }
  }

  function setVideo(player: Player, url: string, poster: string) {
    player.src({ type: "video/mp4", src: url })
    player.poster(poster)
    player.load()
  }

  function inject(container: Node) {
    slot.replaceChildren(container)
    form.classList.add("hidden")
    description.classList.add("hidden")
    slot.classList.remove("hidden")
  }
</script>
