---
import { Icon } from "astro-icon/components"
import Button from "@/components/Button.astro"
import { PHONE, whatsappUrl, EMAIL, socialItems } from "@/lib/consts"
import { cn } from "@/lib/utils"
import Link from "@/components/Link.astro"

export type Props = {
  color?: "light" | "primary"
  variant?: "minimal" | "default"
  title?: string
}

const { title, color = "primary", variant = "default" } = Astro.props
---

<footer class={cn("footer-img", color === "primary" && "bg-primary-bg")}>
  <div class="flex flex-col items-center gap-8 py-12">
    {
      variant !== "minimal" && (
        <h2 class="text-3xl font-bold font-varela text-center px-10 sm:px-0">{title ?? "צרו קשר"}</h2>
      )
    }

    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="flex flex-col sm:flex-row items-center gap-4 font-varela">
        <b>דקל עדן-צאליק</b>
        <a href={whatsappUrl} class="text-[15px] inline-flex gap-2 items-center">
          <Icon name="fa6-brands:whatsapp" class="text-primary" />
          {PHONE}
        </a>
        <span class="hidden sm:inline-block">|</span>
        <Link class="inline-flex gap-2 items-center" href={`mailto:${EMAIL}`}>
          <Icon name="fa6-solid:envelope" class="text-primary" />
          {EMAIL}
        </Link>
      </div>
      <ul class="flex gap-8 justify-around">
        {
          socialItems.map(({ title, icon, href }) => (
            <li class="">
              <Link
                class={cn(
                  "transition-all",
                  "text-primary",
                  "hover:text-primary-hover",
                  "flex items-center text-center h-full",
                  "font-amatic text-xl px-6 py-4",
                )}
                underline="never"
                aria-label={title}
                href={href}
                title={title}
                set:html={icon}
              />
            </li>
          ))
        }
      </ul>

      {
        variant !== "minimal" && (
          <div class="flex items-center justify-center">
            <Button class="font-bold" size="sm" rounded="pill" href="/contact">
              טופס יצירת קשר
            </Button>
          </div>
        )
      }
    </div>
  </div>

  <div class="font-varela w-full bg-bg p-2 flex items-center justify-between text-[10px]">
    <div>כל הזכויות שמורות &copy; דקל עדן-צאליק</div>
    <div>בניית האתר: דקל עדן-צאליק, חן אסרף</div>
  </div>

  <style>
    .footer-img {
      background-image: url("/images/big-stretch.svg");
      background-position: calc(50% - 343px) 50%;
      background-repeat: no-repeat;
      background-size: 90px;
    }
  </style>
</footer>
